﻿@model IEnumerable<COMP6001_Assessment2_Gr07.Models.Holding>

@{
    ViewData["Title"] = "Index";
}

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Marketplace
                <small>Crypto Trade Simulator</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                </li>
                <li class="active">Sell</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <!-- Content Row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3">
            <div class="list-group">
                <a href="@Url.Action("Index", "Users")" class="list-group-item">Wallet</a>
                <a href="@Url.Action("Buy", "Users")" class="list-group-item">Buy Currencies</a>
                <a href="@Url.Action("Sell", "Users")" class="list-group-item">Sell Currencies</a>
                <form method='POST'>
                    <button class="list-group-item" type="submit" name="logout" value="logout">Logout</button>
                </form>
            </div>
        </div>
        <!-- Content Column -->
        <div class="col-md-9">
            <!-- Content Row -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2 class="text-center">Marketplace</h2>
                            <h2>Sell</h2>
                            <p>Wallet Value: $@ViewBag.Wallet</p>
                            <div class="col-sm-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Currency</th>
                                            <th>Amount Held</th>
                                            <th>Sell</th>
                                        </tr>
                                    </thead>

                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                            var id = item.PurchaseId;
                                            if (item.Username == ViewBag.Message)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Symbol)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.AmountHeld)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.PurchasePrice)
                                                    </td>
                                                    <td>
                                                        <form asp-action="SellCrypto">
                                                            <input type="hidden" name="id" id="id" value="@id" />
                                                            <input type="submit" class="sellClick btn btn-success" data-toggle="modal" data-target="#myModal" value="Sell" />
                                                        </form>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <form method='POST'>
                <input class="btn btn-default" type="submit" name="logout" value="logout">
            </form>
        </div>
    </div>
    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Toi Ohomai Institute of Technology</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<script>
    $(document).on("click", ".sellClick", function () {
        var sym = "22"
        $(".modal-body #sellSym").val(sym);
        $(".modal-body #sellPrice").val(price);
        $(".modal-body #sellQTY").val(price);
    });
</script>