﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary">
            <div class="text-center panel-heading">Welcome to Crypto Trade Simulator</div>
            <div class="text-center panel-body">
                Learn Everything, Lose Nothing<br />
                    We want you to learn everything you can about Crypto Trading <br />
                    No obstacles, like price or time delay.<br />
                    If this sounds like you, then join us, log in here
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
        <div id="myCarousel" class="carousel slide banner" data-ride="carousel" data-interval="10000">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/images/one.png" alt="ASP.NET" class="img-responsive" />
                </div>
                <div class="item">
                    <img src="~/images/two.png" alt="Visual Studio" class="img-responsive" />
                </div>
                <div class="item">
                    <img src="~/images/three.jpg" alt="Package Management" class="img-responsive" />
                </div>
                <div class="item">
                    <img src="~/images/four.png" alt="Microsoft Azure" class="img-responsive" />
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div id="cryptoTable"></div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="/js/cryptoAPI.js"></script>